@model List<filesDatabase.Models.userFile>

@{
    ViewBag.Title = "Home Page";
}
    
    <ul class="nav nav-tabs tabs">
        <li class="myContent active"><a href="#">My content</a></li>
        <li class="sharedContent"><a href="#">Shared content</a></li>
        <button id="shareContent" type="button" class="btn btn-default pull-right">Share Content</button>
    </ul>
    
    <div id="myContent">

        <button id="uploadFile" type="button" class="btn btn-default">Upload Content</button>
  
        <div class="btn-group filesCategories">
            <button type="button" class="btn btn-primary">All</button>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
        
            </ul>
        </div>

        <div id="grid">
            <div class="row">
                @Html.Partial("_FilesList", Model)
            </div>
        </div>
        
    </div><!--END myContent DIV-->
    
    <div id="sharedContent" class="hideTab">
        @Html.Partial("_SharedList", Model)
    </div><!--END sharedContent DIV-->

@Html.Partial("_Modals");


