@model List<filesDatabase.Models.userFile>

@{
    ViewBag.Title = "Home Page";
}
    
    <ul class="nav nav-tabs tabs">
        <li class="myContent active"><a href="#">My content</a></li>
        <li class="sharedContent"><a href="#">Shared content</a></li>
        <li class="newsTab"><a href="#">News</a></li>
        <li class="searchTab"><a href="#">Search</a></li>
    </ul>
    
    <div id="myContent">
        <div id="actionButtons">
            <div id="myContentButtons">
                <div class="btn-group">
                    <button id="uploadFile" type="button" class="btn btn-default">Upload Content</button>
                    <button id="deleteAllButton" type="button" class="btn btn-danger">Delete all</button>
                </div>
        
                <div class="btn-group pull-right">
                    <button id="shareContent" type="button" class="btn btn-default">Share Content</button>
                    <div class="btn-group filesCategories">
                        <button type="button" class="btn btn-primary">All</button>
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
        
                        </ul>
                    </div>
                </div>
                </div>
            
            <div id="sharedContentButtons" class="hiddenTab">
                <div class="btn-group">
                    <button id="RefreshShared" type="button" class="btn btn-default">Refresh</button>
                    <button id="deleteAllSharedButton" type="button" class="btn btn-danger">Delete all</button>
                </div>
            </div>
            <div id="searchButtons" class="hiddenTab">
                    <input type="text" class="form-control" id="searchInput" placeholder="Type here...">
                    <button type="button" class="btn btn-primary searchButton">Search</button>
            </div>
        </div>
        

        <div id="grid">
            <div class="row">
                @Html.Partial("_FilesList", Model)
            </div>
        </div>
        
    </div><!--END myContent DIV-->

@Html.Partial("_Modals")


